<!--3 columns under header-->
<section class="features-columns bg-light text-center">
  <div class="container-fluid iconContainer"> <!--Fluid container to span full width-->
    <div class="row"> <!--New bootstrap row-->
      <div class="col-lg-4"> <!--3 separate columns, each taking up 4 out of 12 spaces-->
        <div class="features-columns-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-columns-icon d-flex">
            <i class="fas fa-book m-auto text-primary"
            onmouseover="bigImg(this)" onmouseout="normalImg(this)">
            </i>
          </div>
          <h5>REVIEW</h5>
          <p class="lead mb-0 para">Read reviews from people who have already read the book you are looking for. Know 
            if a book is worth the time it takes to read before you make a decision about buying it.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-columns-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-columns-icon d-flex">
            <i class="fas fa-search m-auto text-primary"
                onmouseover="bigImg(this)" onmouseout="normalImg(this)">
            </i>
          </div>
          <h5>SEARCH</h5>
          <p class="lead mb-0 para">There are millions of books you could be missing out on. Search
            our entire database using ISBN, title, or keyword and find the book you've been missing out on all along!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-columns-item mx-auto mb-0 mb-lg-3">
          <div class="features-columns-icon d-flex">
            <i class="fas fa-dollar-sign m-auto text-primary"
            onmouseover="bigImg(this)" onmouseout="normalImg(this)">
          </i>
          </div>
          <h5>TRADE</h5>
          <p class="lead mb-0 para">Find the perfect book but not sure where to get it? No problem, 
             you can buy it right from our website! We will also buy your old, or new, books you no 
             longer want.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>